<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBanking">

	<listeners>
		<listener class-name="com.inetbanking.Utilities.Reporting"></listener>
	</listeners>

	<test name="Banking Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetbanking.TestCases.TC_login001" />
			<!--<class name="com.inetbanking.TestCases.TC_Login_DDT_002" />-->
			<class name="com.inetbanking.TestCases.TC_addNewCustomer__003" />

		</classes>

	</test>
</suite> 